<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Thirukkural</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
</body>
</html> -->


<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <base href="/">
  <title>Thirukkural</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><span class="brand" i18n="common.WebsiteHeader"></span></a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><a><span class="brand" i18n="common.Kurals"></span></a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.in"
            ng-class="layout.IsActiveMenu(['chapters', 'sectionchapters', 'chaptergroupchapters'])"><a
              ui-sref="chapters"><span class="brand" i18n="common.Chapters"></span></a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.in" ng-class="layout.IsActiveMenu(['sections'])"><a
              ui-sref="sections"><span class="brand" i18n="common.Sections"></span></a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.in"
            ng-class="layout.IsActiveMenu(['chaptergroups'])"><a ui-sref="chaptergroups"><span class="brand"
                i18n="common.ChapterGroups"></span></a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.in" ng-class="layout.IsActiveMenu(['search'])"><a
              ui-sref="search"><span class="brand" i18n="common.Search"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false"><span
                class="brand" i18n="common.Language"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="download">
              <li ng-repeat="lang in layout.AllowedLanguages" data-toggle="collapse" data-target=".navbar-collapse.in">
                <!--todo: languages should be locale-->
                <a href ng-click="layout.SetLocale(lang.code)">{{lang.value}}</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <app-root></app-root>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center footer">
          <a href="http://gokulnath.com/#contact" target="_blank">Contact</a> ::
          <a href="http://blogs.gokulnath.com//2010/05/15/Thirukural.aspx" target="_blank">About</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>