.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background: #ecf0f1;
}
.navbar-default {
  background-color: #2c3e50;
  border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #18bc9c;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1a242f;
}
.navbar-default a.navbar-brand,
.navbar-default a.navbar-brand:visited {
  color: #ffffff;
}
.navbar-default a.navbar-brand:hover {
  color: #18bc9c;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}
h4 {
  font-weight: bold;
}
h5 {
  font-weight: bold;
  margin-top: 10px;
}
.kuralProperty {
  margin-bottom: 20px;
}
.kuralProperty .kuralPropertyHeading {
  font-weight: bold;
}
.adhigaramProperty {
  margin-bottom: 10px;
}
.adhigaramProperty .adhigaramPropertyHeading {
  font-weight: bold;
}
.tableThirukkural {
  background-color: #FFFFFF;
}
.tableThirukkural thead {
  background-color: #2c3e50;
  color: #FFFFFF;
}
.thirukurralChapterHeader {
  border-bottom: 1px solid #B9B9B9;
  margin-bottom: 8px;
}
.thirukurralChapterHeader .thirukurralChapterHeaderText {
  padding-left: 10px;
}
.thirukurralSectionChapterGroupHeader {
  margin-bottom: 8px;
}
.thirukurralSectionChapterGroupHeader .headerText {
  padding-left: 10px;
}
.panel {
  border-radius: 0;
}
footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #2c3e50;
  padding: 5px 0;
  color: #fff;
}
footer a:active,
footer a:visited,
footer a:hover,
footer a:link {
  color: #fff;
}
.highlight {
  background-color: yellow;
}
