
<script type="text/javascript-lazy">

    $(function () {

        $("#transliterateTextarea").change(function () {
            console.log("transliteration changed... ");
        });

        window.google.load('elements', '1', {packages: 'transliteration', "callback": onLoad});

        function onLoad() {
            var options = {
                sourceLanguage: window.google.elements.transliteration.LanguageCode.ENGLISH,
                destinationLanguage: [window.google.elements.transliteration.LanguageCode.TAMIL],
                shortcutKey: 'ctrl+g',
                transliterationEnabled: true
            };

            var control = new window.google.elements.transliteration.TransliterationControl(options);
            control.makeTransliteratable(['transliterateTextarea']);
        }
    });

</script>

<div class="col-lg-12 form-group" style="padding: 10px; margin-bottom: 10px; background-color: #cdcdcd">
    <div ng-hide="!layout.IsTamil()">
        <div class="row">
            <div class="col-md-10">
                <input type="text" data-i18n-attr="{placeholder: 'common.SearchPlaceholder'}" ng-model="searchEntity.SearchTamilText"
                       id="transliterateTextarea" class="form-control" re-bind />
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-primary form-control" data-i18n-attr="{value: 'common.SearchButtonText'}" ng-click="vm.SearchThirukkuralsInTamil(searchEntity)"/>
            </div>
        </div>
        <div class="row" style="margin-top: 10px" ng-init='searchEntity.SearchType="Contains"'>
            <div class="col-md-12">
                <label class="radio-inline"><input type="radio" name="searchType" ng-model="searchEntity.SearchType" value="Contains" /><span i18n="common.Contains"></span> </label>
                <label class="radio-inline"><input type="radio" name="searchType" value="StartsWith" ng-model="searchEntity.SearchType" /><span i18n="common.StartsWith"></span></label>
                <label class="radio-inline"> <input type="radio" name="searchType" value="EndsWith" ng-model="searchEntity.SearchType" /><span i18n="common.EndsWith"></span></label>
            </div>
        </div>
    </div>
    <div ng-hide="layout.IsTamil()">
        <input type="text" placeholder="English" ng-hide="layout.IsTamil()" ng-model="searchEntity.SearchEnglishText" />
        <input type="button" value="Search" class="btn btn-primary" ng-click="vm.SearchThirukkuralsInEnglish(searchEntity)"/>
    </div>
</div>

<div class="panel panel-default" ng-repeat="thirukkural in vm.Thirukkurals" high-light>
    <div class="panel-body">
        <div class="kuralProperty">
            <div class="kuralPropertyHeading"><span i18n="common.Kural"></span> {{thirukkural.Index}}:</div>
            <div ng-bind-html="thirukkural.Tamil | renderHtml"></div>
        </div>
        <div class="kuralProperty">
            <div class="kuralPropertyHeading"><span i18n="common.MuVaExplanation"></span>: </div>
            <div>{{thirukkural.MuVaUrai}}</div>
        </div>
        <div class="kuralProperty">
            <div class="kuralPropertyHeading"> <span i18n="common.SolomonPaapaiyaExplanation"></span>:</div>
            <div>{{thirukkural.SolomonPaapaiyaUrai}}</div>
        </div>
        <div class="kuralProperty">
            <div class="kuralPropertyHeading"><span i18n="common.KalaignarExplanation"></span>:</div>
            <div>{{thirukkural.KalaignarUrai}}</div>
        </div>
        <div class="kuralProperty" ng-hide="layout.IsTamil()">
            <div class="kuralPropertyHeading"><span i18n="common.Couplet"></span>:</div>
            <div ng-bind-html="thirukkural.English | renderHtml"></div>
        </div>
        <div class="kuralProperty" ng-hide="layout.IsTamil()">
            <div class="kuralPropertyHeading"><span i18n="common.EnglishExplanation"></span>:</div>
            <div>{{thirukkural.EnglishMeaning}}</div>
        </div>
        <div class="kuralProperty" ng-hide="layout.IsTamil()">
            <div class="kuralPropertyHeading"><span i18n="common.Transliteration"></span>:</div>
            <div ng-bind-html="thirukkural.TamilTransliteration | renderHtml"></div>
        </div>
    </div>
</div>


<!--
<div ng-repeat="thirukkural in vm.Thirukkurals" class="thirukkuralBlock">
    <div>
        Tamil:
        <div ng-bind-html="thirukkural.Tamil | highlight:searchEntity.SearchTamilText | renderHtml "></div>
    </div>

    <div>Kalaignar Urai:
        <br/>
        <div ng-bind-html="thirukkural.KalaignarUrai | highlight:searchEntity.SearchTamilText | renderHtml "></div>
    </div>
    <div>Mu Va Urai:
        <br/>
        <div ng-bind-html="thirukkural.MuVaUrai | highlight:searchEntity.SearchTamilText | renderHtml "></div>
    </div>
    <div>Solomon Paapaiya Urai:
        <br/>
        <div ng-bind-html="thirukkural.SolomonPaapaiyaUrai | highlight:searchEntity.SearchTamilText | renderHtml "></div>
    </div>
    <div>Tamil Transliteration:
        <br/>
        {{ thirukkural.TamilTransliteration }}
    </div>
    <div>English:
        <div ng-bind-html="thirukkural.English | highlight:searchEntity.SearchEnglishText | renderHtml"></div>
    </div>
    <div>EnglishMeaning:
        <div ng-bind-html="thirukkural.EnglishMeaning | highlight:searchEntity.SearchEnglishText | renderHtml"></div>
    </div>
</div>
-->
