
<script type="text/javascript-lazy">

    $(function () {

        $("#transliterateTextarea").change(function () {
            console.log("transliteration changed... ");
        });

        window.google.load('elements', '1', {packages: 'transliteration', "callback": onLoad});

        function onLoad() {
            var options = {
                sourceLanguage: window.google.elements.transliteration.LanguageCode.ENGLISH,
                destinationLanguage: [window.google.elements.transliteration.LanguageCode.TAMIL],
                shortcutKey: 'ctrl+g',
                transliterationEnabled: true
            };

            var control = new window.google.elements.transliteration.TransliterationControl(options);
            control.makeTransliteratable(['transliterateTextarea']);
        }
    });

</script>


<div ng-hide="!layout.IsTamil()">
    <input type="text" placeholder="Tamil" ng-model="searchEntity.SearchTamilText" id="transliterateTextarea" re-bind />
    <input type="button" value="Search" class="btn btn-primary" ng-click="vm.SearchThirukkuralsInTamil(searchEntity)"/>
</div>
<div ng-hide="layout.IsTamil()">
    <input type="text" placeholder="English" ng-hide="layout.IsTamil()" ng-model="searchEntity.SearchEnglishText" />
    <input type="button" value="Search" class="btn btn-primary" ng-click="vm.SearchThirukkuralsInEnglish(searchEntity)"/>
</div>


<div class="panel panel-default" ng-repeat="thirukkural in vm.Thirukkurals" high-light>
    <div class="panel-body">
        <div class="kuralProperty">
            <div class="kuralPropertyHeading"><span i18n="common.Kural"></span> {{thirukkural.Index}}:</div>
            <div ng-bind-html="thirukkural.Tamil | renderHtml"></div>
        </div>
        <div class="kuralProperty">
            <div class="kuralPropertyHeading"><span i18n="common.MuVaExplanation"></span>: </div>
            <div>{{thirukkural.MuVaUrai}}</div>
        </div>
        <div class="kuralProperty">
            <div class="kuralPropertyHeading"> <span i18n="common.SolomonPaapaiyaExplanation"></span>:</div>
            <div>{{thirukkural.SolomonPaapaiyaUrai}}</div>
        </div>
        <div class="kuralProperty">
            <div class="kuralPropertyHeading"><span i18n="common.KalaignarExplanation"></span>:</div>
            <div>{{thirukkural.KalaignarUrai}}</div>
        </div>
        <div class="kuralProperty" ng-hide="layout.IsTamil()">
            <div class="kuralPropertyHeading"><span i18n="common.Couplet"></span>:</div>
            <div ng-bind-html="thirukkural.English | renderHtml"></div>
        </div>
        <div class="kuralProperty" ng-hide="layout.IsTamil()">
            <div class="kuralPropertyHeading"><span i18n="common.EnglishExplanation"></span>:</div>
            <div>{{thirukkural.EnglishMeaning}}</div>
        </div>
        <div class="kuralProperty" ng-hide="layout.IsTamil()">
            <div class="kuralPropertyHeading"><span i18n="common.Transliteration"></span>:</div>
            <div ng-bind-html="thirukkural.TamilTransliteration | renderHtml"></div>
        </div>
    </div>
</div>


<!--
<div ng-repeat="thirukkural in vm.Thirukkurals" class="thirukkuralBlock">
    <div>
        Tamil:
        <div ng-bind-html="thirukkural.Tamil | highlight:searchEntity.SearchTamilText | renderHtml "></div>
    </div>

    <div>Kalaignar Urai:
        <br/>
        <div ng-bind-html="thirukkural.KalaignarUrai | highlight:searchEntity.SearchTamilText | renderHtml "></div>
    </div>
    <div>Mu Va Urai:
        <br/>
        <div ng-bind-html="thirukkural.MuVaUrai | highlight:searchEntity.SearchTamilText | renderHtml "></div>
    </div>
    <div>Solomon Paapaiya Urai:
        <br/>
        <div ng-bind-html="thirukkural.SolomonPaapaiyaUrai | highlight:searchEntity.SearchTamilText | renderHtml "></div>
    </div>
    <div>Tamil Transliteration:
        <br/>
        {{ thirukkural.TamilTransliteration }}
    </div>
    <div>English:
        <div ng-bind-html="thirukkural.English | highlight:searchEntity.SearchEnglishText | renderHtml"></div>
    </div>
    <div>EnglishMeaning:
        <div ng-bind-html="thirukkural.EnglishMeaning | highlight:searchEntity.SearchEnglishText | renderHtml"></div>
    </div>
</div>
-->
