<!DOCTYPE html>
<html ng-app="thirukkuralApp">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Thirukkural</title>
    <!-- build:css assets/css/vendor.min.css -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="libs/angular-loading-bar/build/loading-bar.min.css"/>
    <!-- /build -->
    <!-- build:css assets/css/app.min.css -->
    <link rel="stylesheet" href="assets/css/app.css"/>
    <!-- /build -->
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <!-- build:js scripts/vendor.js -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/jquery.highlight-4.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="libs/angular-ui/build/angular-ui.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="libs/angular-ui-utils/ui-utils.min.js"></script>
    <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="libs/angular-localization/angular-localization.min.js"></script>
    <script src="libs/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="libs/angular-cookies/angular-cookies.min.js"></script>
    <!-- /build -->
    <!-- build:js scripts/app.min.js-->
    <script src="app/app.js"></script>
    <script src="app/layout/layout-controller.js"></script>
    <script src="app/home/home-controller.js"></script>
    <script src="app/chapters/chapters-controller.js"></script>
    <script src="app/sections/sections-controller.js"></script>
    <script src="app/chaptergroups/chaptergroups-controller.js"></script>
    <script src="app/chapters/sectionchapters-controller.js"></script>
    <script src="app/chapters/chaptergroupchapters-controller.js"></script>
    <script src="app/search/search-controller.js"></script>
    <script src="app/services/thirukkurals-repository.js"></script>
    <script src="app/services/thirukkkurals-util.js"></script>
    <!-- /build -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-82838151-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body ng-controller="layoutController as layout">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="thirukkuralsbychapters( { index: 1 })" class="navbar-brand"><span class="brand" i18n="common.WebsiteHeader"></span></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li data-toggle="collapse" data-target=".navbar-collapse.in"  ng-class="layout.IsActiveMenu(['thirukkuralsbychapters'])"><a ui-sref="thirukkuralsbychapters( { index: 1 })"><span class="brand" i18n="common.Kurals"></span></a></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.in"  ng-class="layout.IsActiveMenu(['chapters', 'sectionchapters', 'chaptergroupchapters'])"><a ui-sref="chapters"><span class="brand" i18n="common.Chapters"></span></a></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.in"  ng-class="layout.IsActiveMenu(['sections'])"><a ui-sref="sections"><span class="brand" i18n="common.Sections"></span></a></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.in"  ng-class="layout.IsActiveMenu(['chaptergroups'])"><a ui-sref="chaptergroups"><span class="brand" i18n="common.ChapterGroups"></span></a></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.in"  ng-class="layout.IsActiveMenu(['search'])"><a ui-sref="search"><span class="brand" i18n="common.Search"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false"><span class="brand" i18n="common.Language"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li ng-repeat="lang in layout.AllowedLanguages" data-toggle="collapse" data-target=".navbar-collapse.in" >
                            <!--todo: languages should be locale-->
                            <a href ng-click="layout.SetLocale(lang.code)">{{lang.value}}</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="page-header"></div>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <div ui-view></div>
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center footer">
            <a href="http://gokulnath.com/#contact" target="_blank">Contact</a> ::
                <a href="http://blogs.gokulnath.com//2010/05/15/Thirukural.aspx" target="_blank">About</a>
            </div>
        </div>
    </div>
</footer>


</body>
</html>